* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
.nav-bar {
    color: wheat;
    margin: auto;
    width: 85%;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-link ul li {
    list-style: none;
    display: inline-block;
    padding-left: 15px;
}
#brand {
    font-weight: 900;
    color: red;
}
.reseal-date {
    position: absolute;
    top: 31%;
    left: 50px;
}
.second-nav-bar ul li {
    margin: auto;
    display: inline-block;
    position: relative;
    transform: translateX(640px);
    padding-left: 20px;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.second-nav-bar ul li a::after {
    content: '';
    width: 0;
    top: 30px;
    transition: 0.5s;
    position: absolute;
    height: 2px;
    background: cadetblue;
    left: 9px;
}
.second-nav-bar ul li a:hover::after {
    width: 100%;
    color: black;
}
hr {
    margin: 10px;
    opacity: 0.5;
    color: black;
}
.element-wrapper > .img-wrapper {
    width: 30%;
}
img {
    width: 470px;
    margin: 10;
    margin-bottom: -10;
    cursor: pointer;
}
.element-wrapper > .model {
    font-weight: 100px;
    margin: 0;
    text-align: center;
    padding-top: 15px;
}
.elements-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 17px;
    font-family: 'Roboto', sans-serif;
}
.element-wrapper > .model-name {
    text-align: center;
    font-weight: 500;
}
.elements-wrapper {
    cursor: pointer;
}
ul li {
    color: black;
}
#background {
    border: 1px whitesmoke solid;
    background-color: whitesmoke;
}